html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Map-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.Map {
  flex-grow: 1;
  height:100%;
  width:100%;
  overflow:hidden;
}

